<h2>Listado de Pokemones</h2>

<%= form_with url: showpokemon_path(0), method: :get, local: true do |f| %>
    <%= f.text_field :q, placeholder: "Buscar por ID o nombre" %>
    <%= f.submit "Buscar" %>
<% end %> 
  
<ul>
    <% @paginated_pokemons.each do |pokemon| %>
        <%= link_to showpokemon_path(pokemon["name"]) do %>
            <li><%= pokemon["name"].capitalize%></li>
        <% end %>
    <% end %>
</ul> 


<div class="pagination">
  <%= paginate @paginated_pokemons %>
</div>

